body{
    background-color: #f0fffb ;
}

#pnlMain{
    margin: auto;
    width: 90%;
    height: 100%;
    display: block;
    border: 3px solid green;
    padding: 10px;
   /* position: absolute;
    top: 0;
    bottom: 0;*/
}

#pnlMain h1{
    text-align:center;
    font-size: 2.50em;
}


#pnlRepo{
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
}

#tblRepo{
    margin: auto;
    width: 100%;
    padding: 0px;
    border:1px solid black;
}


#tblRepo th{
    background-color: #434343;
    border:1px solid black;
    color: #fdfdfd;
    font-weight: bold;
}

#tblRepo td{
    border:1px solid black;
}

.tr-repo td{
    background-color: #b0b9b6;
    height: 30px;
    font-size: 20px;
}

.tr-repo td.data{
    padding-left:5px;
    width: 70%;
}

.tr-repo-secret td{
    background-color: #ebf2f0;
    height: 20px;
    font-size: 15px;
}

.tr-repo-secret td.data{
    padding-left:15px;
    width: 70%;
}

.btn{
    margin: 2px;
    cursor: pointer;
}






@keyframes check-correct-animation {
    0%   {background-color:#; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.check-correct {
    animation-name: check-correct-animation;
    animation-duration: 4s;
}

@keyframes check-not-correct-animation {
    0%   {background-color:#ffafaf; left:0px; top:0px;}
    25%  {background-color:#fd1414; left:200px; top:0px;}
    50%  {background-color:#ffafaf; left:200px; top:200px;}
    75%  {background-color:#b70000; left:0px; top:200px;}
    100% {background-color:#fd1414; left:0px; top:0px;}
}

.check-not-correct {
    animation-name: check-not-correct-animation;
    animation-duration: 4s;
}
